In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\lenovo\anaconda\lib\site-packages (9.2.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import mysql.connector

In [5]:
myconn=mysql.connector.connect(host="localhost",user='root',password="sakshi@12345")

In [9]:
cur=myconn.cursor()
try:
    dbs=cur.execute('show databases')
except:
    myconn.rollback()
for x in cur:
    print(x)

('emp',)
('information_schema',)
('movie',)
('mysql',)
('performance_schema',)
('school_db',)
('store_db',)
('student',)
('sys',)
('test_db',)

In [19]:
myconn=mysql.connector.connect(
    host="localhost",user='root',
    password='sakshi@12345',
    database='emp')

In [21]:
mycur=myconn.cursor()
mycur.execute('show tables')
print(mycur.fetchall())

[('emp',), ('emp_table',), ('employee',)]

In [23]:
mycur.execute('select*from employee')
print(mycur.fetchall())

[(1, 'John', 'King', 33000, 'john.king@abc.com'), (2, 'Neena', 'Kochhar', 33000, 'neena@test.com'), (4, 'Massimo', 'Leo', 85000, 'leo@mail.com'), (5, 'Eve', 'Hyun', 70000, 'eve@mail.com'), (6, 'Sakshi', 'Kalashetti ', 100000, 'sakshi@mail.com')]